/*mobile*/
@media screen and (max-width: 600px) {
  * {
    border-collapse: collapse;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  *::-webkit-scrollbar {
    display: none;
  }
  section.intro {
    background-position: center;
  }
  section.intro h1 {
    display: none;
    font-size: 16vw;
    bottom: 40px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.792);
  }
  .content article h1 {
    font-size: 4em;
  }
  .intro,
  img {
    animation: fadeIn 5s;
  }

  .content article img {
    width: 200px;
  }
  .content article img.wider {
    width: 300px;
  }
}
